<component name="libraryTable">
  <library name="spring-jade4j:1.2.5" type="repository">
    <properties maven-id="de.neuland-bfi:spring-jade4j:1.2.5" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-jade4j-1.2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jade4j-1.2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/asm-5.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/asm-analysis-5.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/asm-tree-5.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/asm-util-5.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-collections-3.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-io-2.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-jexl-2.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-lang3-3.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/concurrentlinkedhashmap-lru-1.4.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/parboiled-core-1.1.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/parboiled-java-1.1.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/pegdown-1.6.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/servlet-api-2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.6.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>